---
import type { ImageMetadata } from "astro";
import { getCollection } from "astro:content";
import type { Logo } from "../../types";
import ProjectCard from "../projects/ProjectCard.astro";

const allProjects = await getCollection("projects");
---

<nav>
    <ul class="projects-list flex flex-col gap-6">
        {
            allProjects.reverse().map(async (project, index) => {
                const { remarkPluginFrontmatter } = await project.render();
                return (
                    <ProjectCard
                        title={project.data.title}
                        href={`/projects/${project.slug}/`}
                        readingTime={remarkPluginFrontmatter.minutesRead}
                        metaimg={project.data.metaimg}
                        metaimgAlt={project.data.metaimgAlt}
                        snippet={project.data.snippet}
                        logos={project.data.logos}
                    />
                );
            })
        }
    </ul>
</nav>
